.title {
    text-align: center;
}
hr {
    text-align: center;
    width: 500px;
}
.list-chapter {
    text-align: center;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}